body {
	font-size: 62.5%;
	font-family: "Trebuchet MS", "Arial", "Helvetica", "Verdana", "sans-serif";
}

table {
	font-size: 1em;
}

.dm-description {
	clear: both;
	padding: 12px;
	font-size: 1.3em;
	line-height: 1.4em;
}

.dm-description_center {
	width:300px;
  	height:100px;
	clear: both;
	padding: 12px;
	font-size: 1.3em;
	line-height: 1.4em;
	left: 50%;
	top: 50%;
	position:absolute;
	margin-left:-150px; 
  	margin-top:-120px;  
}

#box {
background-color: #fff; 
-moz-border-radius: 7px; 
-webkit-border-radius: 7px; 
border: 1px solid #c1c1c1; 
padding: 30px;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f3f3f3'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f3f3f3)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #fff,  #f3f3f3); /* for firefox 3.6+ */
}

#container {
width: 70%;
margin: 10% auto;
}

.ui-draggable, .ui-droppable {
	background-position: top;
}
